table a, .table a {
  text-decoration: none !important;
}

p {
  margin-bottom: 10px !important;
}

.figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: .25rem .5rem;
  vertical-align: middle;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

ol, ul {
  margin-bottom: 10px !important;
}